.container{
    padding:0 30px;
    margin-bottom: 30px;
}
.trackContainer{
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 50px;
}
.hr{
    margin: 25px 0;
}